fieldset {
  margin-bottom: 10px;
  label {
    width: 30%;
  }
  input {
    float: right;
    width: 70%;
  }
  textarea {
    float: right;
    width: 70%;
  }
  select {
    float: right;
    width: 70%;
    height: 30px;
  }
  margin-bottom: 10px;
  label {
    width: 30%;
  }
}
